.sidebar {
  background-color: $color-primary;
  grid-row: 1 / -1;
  grid-column: sidebar-start/ sidebar-end;

  @media only screen and (max-width:$bp-large) {
    grid-column: 1/-1;
    grid-row: 1/2;
    justify-content: flex-end;
    align-items: center;

  }

  // THINK: HEre we need to horizontal center the nav-btn so we used flex on parent i.e sidebar not on nav-btn itself!!
  display: flex;
  justify-content: center;
}

.nav-btn {
  border: none;
  margin-top: 4rem;
  width: 4rem;
  height: 2px;
  color: #fff;


  &::after,
  &::before {
    content: '';
    display: block;
    width: 4rem;
    height: 2px;
    background-color: #fff;
  }

  &::after {
    transform: translateY(1.3rem);
  }

  &::before {
    transform: translateY(-1.5rem);
  }

  @media only screen and (max-width:$bp-large) {
    margin-top: 0;
    margin-right: 4rem;

    &::after {
      transform: translateY(1rem);
    }

    &::before {
      transform: translateY(-1.2rem);
    }

  }

}